body, html {
  min-height:100%;
  height:100%;
  margin:0;
  padding:0;
  font-family: Helvetica, Arial, sans-serif;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.v-scroll {
    overflow-x:hidden;    
    overflow-y:auto;    
    -webkit-overflow-scrolling: touch;
}

.h-scroll {
    overflow-x:auto;    
    overflow-y:hidden;    
    -webkit-overflow-scrolling: touch;
}

.floated-list{
    margin:0;
    padding:0;
    list-style: none;
    white-space:nowrap;
}

.floated-list li{
    float:left;
    margin-right:10px;
}

.float-left{
    float:left;
}
.wrapword {
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    white-space: normal;
}

/****************************
* PAGE WRAPPER
****************************/

#page-wrapper{
    width:100%;
    min-height:100%;
    height:auto;
    height:100%;
 
}


/****************************
* PAGE MENU
****************************/

#page-menu{
    width:100%;
    background:rgba(255,255,255,0.6);
    height:40px;
    position:absolute;
    top:0;
    left:0;
    z-index: 999;    
    padding: 5px 0 0 5px;
    border-bottom:#fff 2px solid;
}


#options{
    background-image:url("../images/menu-icn.png");
    width:30px;
    height:30px;
    background-repeat:no-repeat;
    background-position:center;
}

/****************************
* HERO
****************************/
#hero{
    width:100%;
    height:75%;
    background:#666;
    color:#6D0019;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

#hero-title{
    color:#fff;
    height:100px;
    width:90%;
    position:absolute;
    opacity:0.8;
    left:10px;
    bottom:150px;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #666;
    overflow: hidden;
    height:96px;
}

/****************************
* ROW
****************************/
.row-item{
    overflow:hidden;
    height:80px;
    display:inline;
    background-color:#555;
}


.row-header{
    background:#333; 
    height:30px;
    width:100%;
    line-height: 30px;
    color:#f6f6f6;
    padding-left:5px;
    font-weight:bold;
    font-size:12px;
    
    /* text-shadow: 1px 1px 1px #aaa; */
     /* text-shadow:#111 0px 1px 0, #f8f8f8 0 -1px 0; */
}

/****************************
* TABS
****************************/

.tab-content{
    width:100%;
    height:auto;
    min-height:80px;
    background:#333;
    position:relative;
   
    line-height: 80px;
    padding-left:5px
}

/****************************
* ARTICLE IFRAME
****************************/
#article-wrapper,
#article-frame{
    width:100%;
    height:100%;
    position:absolute;
    left:100%;
    top:0;
    z-index:3;    
    
}

#article-wrapper{
    background-color:#fff;
    font-size:12px;
    word-wrap: break-word;
    text-align:left;
    padding:10px;
}

#article-frame {
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}

