<% for(var j=0; j < rows.length; j++){
		
	%>
<div class="row-header"> <%=rows[j]%></div>
<div class="tab-content h-scroll">
<ul id="list_<%=j%>" class="floated-list" style="position:absolute;">
    
	<% for(var i=0; i < response[rows[j]].length; i++){
		var img   = response[rows[j]][i].hero;
        var itmId = response[rows[j]][i].itemId;
        var title = response[rows[j]][i].title;
	%>
		<li class="row-item" data-itemid="<%=itmId%>"><div class="thumb-image"><img width="80" height="80" src="<%=img%>"/></div><div class="thumb-caption"><%=title%></div></li>
	<%	
	} 
	%>
	
</ul>
</div>
    <% } %>